
/* this is for small phones: from 0-480px */
@media only screen and (max-width: 480px) {

    /* .hero-text-box {
        position: absolute;
        width: 1140px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    } */
}


/* small phones and small tabs: from  481-767px */
@media only screen and (max-width: 767px) {
    /* .hero-text-box {
        position: absolute;
        width: 1140px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    } */
}



/* small tabs to big tabs: from  768px-1023px */
@media only screen and (max-width: 1023px) {
    
    body {
        font-size: 18px;
    }

    section { padding: 60px 0;}

    .long-copy {
        width: 80%;
        margin-left: 10%;
    }
}


/* big tabs to 1200px */
@media only screen and (max-width: 1200px) {
    
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }

    .row { padding: 0 2%; }
}